Package: linux-headers-686-pae
Source: linux-latest (73+parrot1)
Version: 4.5+73+parrot1
Architecture: i386
Maintainer: Kali Developers <devel@kali.org>
Installed-Size: 11
Depends: linux-headers-4.5.0-parrot-686-pae
Section: kernel
Priority: optional
Description: Header files for Linux 686-pae configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel 686-pae configuration.
