Package: linux-headers-586
Source: linux-latest (74+parrot2)
Version: 4.6+74+parrot2
Architecture: i386
Maintainer: Kali Developers <devel@kali.org>
Installed-Size: 11
Depends: linux-headers-686
Section: oldlibs
Priority: optional
Description: Header files for Linux 586 configuration (dummy package)
 This is a dummy transitional package.  It can be safely removed.
