Package: linux-image-686
Source: linux-latest (73+parrot1)
Version: 4.5+73+parrot1
Architecture: i386
Maintainer: Kali Developers <devel@kali.org>
Installed-Size: 14
Depends: linux-image-4.5.0-parrot-686
Provides: linux-latest-modules-4.5.0-parrot-686
Section: kernel
Priority: optional
Description: Linux for older PCs (meta-package)
 This package depends on the latest Linux kernel and modules for use on PCs
 with one or more processors not supporting PAE.
