Package: linux-image-rt-686-pae
Source: linux-latest (74+parrot2)
Version: 4.6+74+parrot2
Architecture: i386
Maintainer: Kali Developers <devel@kali.org>
Installed-Size: 14
Depends: linux-image-4.6.0-parrot-rt-686-pae
Provides: linux-latest-modules-4.6.0-parrot-rt-686-pae
Section: kernel
Priority: optional
Description: Linux for modern PCs (meta-package), PREEMPT_RT
 This package depends on the latest Linux kernel and modules for use on PCs
 with one or more processors supporting PAE.
 .
 This kernel requires PAE (Physical Address Extension). This feature is
 supported by the Intel Pentium Pro/II/III/4/4M/D, Xeon, Core and Atom; AMD
 Geode NX, Athlon (K7), Duron, Opteron, Sempron, Turion or Phenom;
 Transmeta Efficeon; VIA C7; and some other processors.
 .
 This kernel includes the PREEMPT_RT realtime patch set.
